:host {
  display: block;
  font-family: "Roboto", sans-serif;
  --theme-color-1: #363533;
  --theme-color-2: #e2801e;
  --theme-color-4: #fff;
}

:root {
  /* --haxcms-base-styles-a-color: #e2801e;
  --haxcms-base-styles-a-color-active:#e2801e;
  --haxcms-base-styles-a-color-hover:#e2801e;
  --haxcms-base-styles-a-color-visited: #e2801e; */
  --haxcms-base-styles-a-weight: bold;
  --haxcms-base-styles-a-font-size: 20px;

}

:host([hidden]) {
  display: none;
}

/**
 * Hide the slotted content during edit mode. This must be here to work.
 */
:host([edit-mode]) #slot {
  display: none;
}

site-top-menu {
  width: 100%;
  --site-top-menu-button: {
    padding: 15px 10px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  };
  --site-top-menu-button-hover: {
    background-color: var(--theme-color-1);
    color: white;
  };
  --site-top-menu-link-active: {
    background-color: var(--theme-color-1);
    color: white;
  };
  --site-top-menu-spacing: {
    flex: 1 1 auto;
  };
  --site-top-menu-indicator: {
    border-bottom: 4px solid white;
  };
  --site-top-meu-wrapper: {
    background-color: var(--theme-color-2);
    display: flex;
    justify-content: stretch;
  };
  --site-top-menu-link: {
    width: 100%;
    background-color: var(--theme-color-2);
    color: var(--theme-color-4);
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  };
}





