:host {
  display: block;
  font-family: "Roboto", sans-serif;
  --theme-color-1: #363533;
  --theme-color-2: #e2801e;
  --theme-color-4: #fff;
  --site-print-button-button: {
    color: #a9a9a9;
  }
}

:root {
  --haxtheme-page-banner-image-text-h1-color: #FFFFFF;
  --haxtheme-homepage-banner-image-text-h1-color: #FFFFFF;
  --site-recent-content-block-active-color: #e2801e;
  --site-rss-bg-color: var(--theme-color-2);

  --site-breadcrumb-color: #a9a9a9;
  --site-breadcrumb-text-decoration: none;
  --site-menu-button-button: {
    background-color: var(--theme-color-2);
    margin: 5px 0 15px;
    border-radius: none;
    color: var(--theme-color-4);
  };
  
  
  --site-menu-button-link: {
    text-decoration: none;
  };


 
  --site-menu-button-tooltip-bg: var(--theme-color-1);
  --site-rss-border-radius: 0;
  --site-rss-bg-active: var(--theme-color-2);
  --site-recent-content-block-item-link: {
    color: var(--theme-color-1);
  };
  
}

:host([hidden]) {
  display: none;
}

scroll-button {
    position: fixed;
    right: 0;
    bottom: 65px;
    margin-right: 25px;
    border: 1px solid #f5f5f5;
  --scroll-button-button: {
    background-color: var(--theme-color-2);
  };
  --scroll-button-button-active: {
    background-color: var(--theme-color-2);
  }
}

site-top-menu {
    width: 100%;
  --site-top-menu-button: {
    padding: 15px 10px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  };
  --site-top-menu-button-hover: {
    background-color: var(--theme-color-1);
    color: white;
  };
  --site-top-menu-link-active: {
    background-color: var(--theme-color-1);
    color: white;
  };
  --site-top-menu-spacing: {
    flex: 1 1 auto;
  };
  --site-top-menu-indicator: {
    border-bottom: 4px solid white;
  };
  --site-top-meu-wrapper: {
    background-color: var(--theme-color-2);
    display: flex;
    justify-content: stretch;
  };
  --site-top-menu-link: {
    width: 100%;
    background-color: var(--theme-color-2);
    color: var(--theme-color-4);
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  };
}



